

#container{
background-image:url(http://i.imgur.com/3K9OeIL.gif);
background-position:140px 0px;
/* background-repeat: no-repeat; */

    width: 100%;
/* max-width:1218px; */
/* height:auto; */
/* padding-bottom: 15%; */
/* height:764px; */
}
/*
width: 100%;
max-width:1218px;
height:764px;
position: relative;

*/
.topcell{
/* width:60px; */
/* height:18px; */
width: 3%;
font-size:1.5vmin;
height: 9%;
}
.cell{
margin:0;
font-size:2.3vmin;
/* height: 70px; */
/* width: 6vw; */
width: 5%;
/* width: 4.5vh; */
height: 8vh;
}
.leftcell{
font-size:2vmin;
width: 3%;
height: 9%;
}
.cell-orange{
background-color:orange;
}
.cell-yellow{
background-color:yellow;
}
.cell-green{
background-color:green;
}
.cell-pink{
background-color:pink;
}
.cell-grey{
background-color:grey;
}
.cell-blue{
background-color:blue;
}
.cell-purple{
background-color:purple;
}
.cell-gold{
background-color:gold;
}
.weight{
float:top;
font-size:1.5vmin;
text-align:right;
margin:0;
padding-right: 10%;
}
.atom-id{
float: bottom;
font-size:1.5vmin;
text-align: left;
padding-left: 10%;
margin:0;
}
body{
margin: 10px;
background-color: #66CCCC;
}
